# Global
.env
*.log

# .NET
**/bin/
**/obj/

# Node
**/node_modules/
frontend/dist/

# Uploads / data
uploads/

# IDE
.vscode/
.idea/
.vs

# Android signing
*.keystore
*.jks
*.p12
*.mobile-signing.props
*Signing.props
